
#si {
    background: darkgray;
    left: 10%;position: absolute;
    top: 30%;
    right:10%;
    width: 70%;
    color: #8c4966;
    font-family: 'Lucida Grande';
    padding: 50px;
    display: none;
}

body{
background-image: url(../images/background.jpg);
}
.contenedor {
margin: auto;
width: 900px;
margin-top: 300px;
text-align: center;
}
.titulo{
font-family: Trebuchet MS;
font-weight: bolder;
font-size:150%;
margin-bottom: 20px;
}
.opciones p {
background:darkcyan;
display: initial;
padding: 10px;
color: #ffffff;
border-radius: 15px;
font-weight: bolder;
font-family: Trebuchet MS;
font-size: 100%;
}
p.no {
position: absolute;
top: 60%;
left: 35%;
width: 150px;
}
p.dijosi{
position: absolute;
top: 60%;
right: 35%;
width: 150px;
}
